<p id="notice"><%= notice %></p>

<p>
  <strong>Customercount:</strong>
  <%= @sales_cycle.customerCount %>
</p>

<%= link_to 'Edit', edit_sales_cycle_path(@sales_cycle) %> |
<%= link_to 'Back', sales_cycles_path %>
